
.baskervville-sc-regular {
    font-family: "Baskervville SC", serif;
    font-weight: 400;
    font-style: normal;
}

.title{
    margin-top: 7%;
    margin-bottom: 2%;
}

.titleHeader{
    color: rgb(207, 207, 207);
    text-align: center;
    font-family: "Baskervville SC", serif;
}

.titleHeader h1{
    font-size: 50px;
}

.displayer {
    text-align: center;
}


.display {
    background-color: rgb(42, 41, 41);
    padding-top: 3%;
    padding-bottom: 2%;
}

.display input {
  font: 15px/1 'Open Sans', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  max-width: 500px;
  background-color: #ddd;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  box-shadow: none;
  outline: none;
  margin: 0;
  box-sizing: border-box;
}

.calculator {
    text-align: center;
    margin-bottom: 3%;
    padding-bottom: 2%;

}

.calculator button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 3%;
    margin-right: 3%;

}

.calcButton{
    background-color: rgb(42, 41, 41);
}

@media (max-width: 1200px){
    .calculator button{
        width: 40px;
        height: 40px;
        font-size: 20px;
    }
}


@media (max-width: 991px){
    .calculator button{
        width: 30px;
        height: 30px;
        font-size: 15px;

    }
}


@media (max-width: 768px){
    .calculator button{
        width: 20px;
        height: 20px;
        font-size: 7px;

    }
}

@media (max-width: 440px){
    .calculator button{
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: 1%;
        margin-right: 1%;

    }
}




